body{
    font-family: "Comic Sans MS", cursive;
    padding: 10vh 0 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url("assets/farmfield.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.Buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Button1{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 25px;
    margin: 3vh;
    height: 10vh;
    width: 15vw;
    font-size: 2rem;
}

.gamecontainer h1{
    text-align: center;
}

.ImgContainer img{
    width: 25vw;
    max-width: 100%;
}

.ImgContainer{
    display: flex;
    justify-content: center;
}

.gamecontainer{
    backdrop-filter: blur(10px);
    width: 40vw;
    height: 85vh;
    border: 5px solid black;
    border-radius: 25px;
}



.Stats div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 25px;
    width: 98%;
    margin: 5px;
    font-size: 1.5rem;
}

.HPStat{
    background: linear-gradient(to right, #f196a4 80%, #ac7a7a 20%);
}

.HungerStat{
    background: saddlebrown;
}

.OBStat{
    background: #ba2e38;
}

.ERStat{
    background: forestgreen;
}

.FunStat{
    background: royalblue;
}

#FeedButton{
    background: saddlebrown;
}

#FeedButton:hover{
    cursor: pointer;
}


#RestButton{
    background: forestgreen;
}

#PlayButton{
    background: royalblue;
}

#KillButton{
    background: darkred;
}

.messageBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 10vh;
    width: 20vw;
    top: 25vh;
    right: 25vw;
}