body{
    font-family: "Comic Sans MS", cursive;
    padding: 10vh 0 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url("assets/farmfield.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.Buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Button1{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 25px;
    margin: 3vh;
    height: 10vh;
    width: 15vw;
    font-size: 2rem;
}

.gamecontainer h1{
    text-align: center;
}

.ImgContainer img{
    width: 25vw;
    max-width: 100%;
    height: 45vh;
}

.ImgContainer{
    display: flex;
    justify-content: center;
    background-image: none;
}

.gamecontainer{
    /*margin-bottom: 20vh;*/
    backdrop-filter: blur(4px);
    width: 40vw;
    height: 87vh;
    border: 5px solid black;
    border-radius: 25px;
    margin-top: -2vh;
}



.Stats div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 25px;
    width: 98%;
    margin-top: 4px;
    font-size: 1.5rem;
    margin-left: 0.35vw;
}

.HPStat{
    background: linear-gradient(to right, #f196a4 100%, #ac7a7a 0%);
}

.HungerStat{
    background: saddlebrown;
}

.OBStat{
    background: #ba2e38;
}

.Video {
    position: fixed;  /* Fixed to viewport */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    display: none;
    overflow: hidden; /* Ensures no scrollbars */
}

/* Ensure the video fills its container */
.Video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crop and fill the container */
}

.Vid{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crop and fill the container */
}

.ERStat{
    background: linear-gradient(to right, #228B22 100%, #ac7a7a 0%);
}

.FunStat{
    background: #4169E1;
}

.BrainRot{
    background: purple;
}

#FeedButton{
    background: saddlebrown;
}

#FeedButton:hover{
    cursor: pointer;
}


#RestButton{
    background: forestgreen;
}

#RestButton:hover{
    cursor: pointer;

}


#PlayButton{
    background: royalblue;
}

#PlayButton:hover{
    cursor: pointer;
}

#KillButton{
    background: darkred;
}

.messageBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 10vh;
    width: 20vw;
    top: 25vh;
    right: 25vw;
}